In [ ]:
import time
start = time.time()
%run run_surv --dataset dataset/test_new.csv --feature dataset/features.txt --cancer dataset/cancers_new.txt --imputation mean --test_rate 0.2 --tasks THROI STOMA --model pl_mtl_lstm --batch_size 1024 --n_epochs 1 --n_trials 1 --new True
end = time.time()
print(end-start)

start 1th trial

In [1]:
import pandas as pd
ba8 = pd.read_csv('dataset/ba8.csv')
test_new = ba8[:3000]
test_new

,Unnamed: 0,YID,YY,HOS,FEV1,FVC,PH,SG,CDATE_DDMMYY,BIRTH_DDMMYY,...,Desa_age_desa,SEX1,WC,AGR,AST,ALT,GGTP,GLU,CRC,SCRC_B
0,0,2877,2006,4,NaN,NaN,NaN,NaN,13092006,20031919,...,2.9290,1.0,85.0,NaN,31.0,42.0,29.0,112.0,0,13.2
1,1,2878,2007,3,NaN,NaN,7.0,1.021,26012007,20031919,...,-3.9453,1.0,94.0,NaN,21.0,22.0,79.0,87.0,0,9.0
2,2,2984,2006,1,62.0,41.00,6.0,1.015,7092006,20111919,...,4.7447,1.0,92.0,NaN,34.0,38.0,27.0,157.0,0,11.5
3,3,2985,2007,5,NaN,NaN,5.0,NaN,16032007,21111919,...,-3.0414,1.0,78.5,NaN,21.0,17.0,37.0,119.0,0,6.6
4,4,3074,2008,7,1.7,2.47,5.0,1.025,27032008,5041920,...,-2.2003,1.0,85.0,1.730769,16.0,11.0,17.0,99.0,0,11.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,72061,2007,4,NaN,NaN,NaN,NaN,16022007,17111939,...,-3.6407,2.0,85.0,NaN,16.0,16.0,24.0,70.0,0,12.8
2996,2996,72074,2006,1,119.0,104.00,5.0,1.025,4102006,18111939,...,4.2279,1.0,85.5,NaN,49.0,45.0,151.0,132.0,0,13.2
2997,2997,72097,2006,1,131.0,133.00,5.5,1.020,3072006,19111939,...,-3.9415,1.0,85.0,NaN,23.0,16.0,32.0,96.0,0,13.4
2998,2998,72098,2006,32,NaN,NaN,NaN,NaN,21092006,19111939,...,-6.3516,1.0,83.0,NaN,23.0,19.0,18.0,88.0,0,13.2
2999,2999,72107,2006,4,NaN,NaN,NaN,NaN,10082006,19111939,...,0.5739,2.0,84.0,NaN,24.0,20.0,16.0,90.0,0,13.3

In [2]:
test_new.to_csv('dataset/test_new.csv')